<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.mapper.GoodsMapper">


    <update id="decreaseStore">
        update goods_store set store = store - 1 where goods_id = #{goodsId}
    </update>
    <update id="updateByIdLineLock">
        update goods_store set store = store - 1 where goods_id = #{goodsId} and store>0
    </update>
</mapper>
